<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HTML内でのPHPスクリプト - PHP入門</title>
<link href="applegarden0827.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1>現在の割引商品</h1>

<table border=3; table-layout:fixed;>

 <tr><th>商品名</th><th>店舗名</th><th>割引開始時間</th><th>割引率</th>><th>投稿者</th></tr>
 <tr><td>行-1</td><td><a href="applegarden0827_kasu.php">カスミ</a></td><td>B-1</td></tr>
 <tr><td>行-2</td><td>A-2</td><td>B-2</td></tr>
 <tr><td>行-3</td><td>A-3</td><td>B-3</td></tr>

</table>

<a href="applegarden0827_1.php">店舗ごとに見る</a>
</body>
</html>
